name: 'Main PR'

on:
  pull_request:
    branches:
      - main

jobs:
  # Build, package and run Jest tests
  Package_RunTests:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v5
        with:
          node-version: '22'

      - name: "Run scripts"
        run: npm run all
        env:
          NODE_OPTIONS: "--max_old_space_size=4096"
  